.root {
  //width: 96%;
  height: 30px;
  background: #9D2135;
  //margin: 0 30px;
  border-color: white;
  border-top: 1px white solid;
  justify-content: space-around;
  display: flex;
  align-items: center;
  transition: all .1s ease-in;
  border-radius:  0 0 5px 5px;
}

.element {
  font-size: 15px;
  color: white;
  margin: 0 5px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu {
  background: #9D2135;
  transition: all .5s ease;
  color: white;
  min-height: 0;
  display: flex;
  height: fit-content;
  padding: 15px 0;
  //position: absolute;
  width: 100%;
  border-radius:  0 0 5px 5px;
}

.list {
  padding: 0;
  list-style: none !important;
  margin:0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  //padding: 10px 20px;
  align-items: flex-start;
  justify-content: flex-start;
}

.listElem {
  margin-bottom: 15px;
  cursor: pointer;
  width: fit-content;
  padding-left: 15px;

}


.listNew {
  border-left: 1px white solid;
  margin: 0 0 20px 150px;
  padding: 0 0 0 40px;
  list-style: none;
  position: relative;
  //height: 0;
  //transition: all .3s ease-in;
}

.classNo {
  display: flex;
  height: 800px;
  width: 100%;
  align-items: center;
  justify-content: center;
  //position: absolute;
  h1 {
    //width: 100%;
    text-align: center;
    //position: absolute;
    margin: 0 auto;
  }
}
