.root {
  color: white;
  cursor: pointer;
  margin: 2px 5px;
  padding: 5px 0;
  label {
    color: rgba(157, 33, 53, 0);
  }
}

.lang {
  width: 90px;
  border-radius: 50px;
  height: 50px;
  //border-color: #EEF2F4 !important;
  border: 1px #EEF2F4 solid;
  color: white;
  box-shadow: none !important;
  &:active {
    box-shadow: none !important;

  }
}