body {
    background: #EEF2F4;
    margin: 5px 70px 5px 70px;

}

* {
    font-family: 'TTNooks', sans-serif;
}

@font-face {
    font-family: 'TTNooks';
    src: url('/public/fonts/TTNooks-Light.woff2') format('woff2');
    font-weight: 300; /* Предположим, что это Light */
    font-style: normal;
    /*font-display: swap;*/
}

@font-face {
    font-family: 'TTNooks';
    src: url('/public/fonts/TTNooks-Regular.woff2') format('woff2');
    font-weight: 500; /* Black */
    font-style: normal;
    /*font-display: swap;*/
}

@font-face {
    font-family: 'TTNooks';
    src: url('/public/fonts/TTNooks-Bold.woff2') format('woff2');
    font-weight: 700; /* Bold */
    font-style: normal;
    /*font-display: swap;*/
}

@font-face {
    font-family: 'TTNooks';
    src: url('/public/fonts/TTNooks-Black.woff2') format('woff2');
    font-weight: 900; /* Black */
    font-style: normal;
    /*font-display: swap;*/
}



.my-node-enter {
    background: #9D2135;
    transition: all .5s ease;
    color: white;
    min-height: 0;
    display: flex;
    opacity: 0;
    height: 0;
    padding: 10px 20px;
}
.my-node-enter-active {
    height: 230px;
    background: #9D2135;
    transition: all .5s ease;
    color: white;
    min-height: 0;
    display: flex;
    opacity: 1;
    transition: opacity 200ms;
    padding: 10px 20px;

}
.my-node-enter-done {
    height: 230px;
    background: #9D2135;
    transition: all .5s ease;
    color: white;
    min-height: 0;
    display: flex;
    opacity: 1;
    transition: opacity 200ms;
    padding: 10px 20px;

}
.my-node-exit {
    height: 230px;
    background: #9D2135;
    transition: all .5s ease;
    color: white;
    min-height: 0;
    display: flex;
    opacity: 1;
    height: fit-content;

    padding: 10px 20px;

}
.my-node-exit-active {
    height: 230px;
    background: #9D2135;
    transition: all .5s ease;
    color: white;
    min-height: 0;
    display: flex;
    opacity: 0;
    transition: opacity 200ms;
    height: 0 !important;


    padding: 10px 20px;


}

a {
    text-decoration: none;
    color: white
}