body {
    background: #EEF2F4;
    margin: 5px 70px 5px 70px;
}


.my-node-enter {
    background: #9D2135;
    transition: all .5s ease;
    color: white;
    min-height: 0;
    display: flex;
    opacity: 0;
    height: 0;
    padding: 10px 20px;
}
.my-node-enter-active {
    height: 230px;
    background: #9D2135;
    transition: all .5s ease;
    color: white;
    min-height: 0;
    display: flex;
    opacity: 1;
    transition: opacity 200ms;
    padding: 10px 20px;

}
.my-node-enter-done {
    height: 230px;
    background: #9D2135;
    transition: all .5s ease;
    color: white;
    min-height: 0;
    display: flex;
    opacity: 1;
    transition: opacity 200ms;
    padding: 10px 20px;

}
.my-node-exit {
    height: 230px;
    background: #9D2135;
    transition: all .5s ease;
    color: white;
    min-height: 0;
    display: flex;
    opacity: 1;
    height: fit-content;

    padding: 10px 20px;

}
.my-node-exit-active {
    height: 230px;
    background: #9D2135;
    transition: all .5s ease;
    color: white;
    min-height: 0;
    display: flex;
    opacity: 0;
    transition: opacity 200ms;
    height: 0 !important;


    padding: 10px 20px;


}

a {
    text-decoration: none;
    color: white
}